{{#view 'search'}}
  <div class='formula'>
  </div>
  <div class='more-info'>
    <ul>
      <li>Title: {{title}}</li>
      <li>Release: {{released}}</li>
      <li>Runtime: {{runtime}}</li>
      <li>Director: {{director}}</li>
      <li>Written by: {{writer}}</li>
      <li>Starring: {{actors}}</li>
      <li>{{plot}}</li>
      <li>Languages: {{language}}</li>
      <li>Rating: {{rated}}</li>
      <li>Consensus: {{tomatoConsensus}}</li>
    </ul>
  </div>
{{/view}}
