{{#view 'search'}}
  <div class='formula'>
    <ul>
      <li>Tomato meter: {{tomatoMeter}}</li>
      <li>Tomato rating: {{tomatoRating}}</li>
      <li>Total tomato critics counted: {{tomatoVotes}}</li>
      <li>Tomato user meter: {{tomatoUserMeter}}</li>
      <li>Tomato user rating: {{tomatoUserRating}}</li>
      <li>Total tomato users counted: {{tomatoUserVotes}}</li>
      <li>IMDB user rating: {{imdbRating}}</li>
      <li>Total IMDB votes: {{imdbVotes}}</li>
      <li>Metascore: {{metascore}}</li>
    </ul>
  </div>

  <div class='more-info'>
    <ul>
      <li>Title: {{title}}</li>
      <li>Release: {{released}}</li>
      <li>Runtime: {{runtime}}</li>
      <li>Director: {{director}}</li>
      <li>Written by: {{writer}}</li>
      <li>Starring: {{actors}}</li>
      <li>{{plot}}</li>
      <li>Languages: {{language}}</li>
      <li>Rating: {{rated}}</li>
      <li>Consensus: {{tomatoConsensus}}</li>
    </ul>
  </div>
{{/view}}
