{{#view 'search'}}
  <div class='container'>
    <div class='movie'>
      <div class="image_container">
        <img {{bind-attr src="poster.imageLocation"}} class="image"></img>
      </div>

      <div class="score_details">
        <div class='score'>{{totalScore}}</div>
        <div class='suggestion'>{{shouldIWatch}}</div>
        <div>{{uncertainText}}</div>
        <div class='search_again suggestion'>{{#link-to 'search' classNames="white-link"}}Search again?{{/link-to}} | <span {{action 'moreInfo'}} class="more-info-link">More info</span> | <a {{bind-attr href="imdbID"}} class='moreInfo'>IMDB</a></div>
      </div>
    </div>

    {{#if needMoreInfo}}
      {{partial 'more_info'}}
    {{/if}}

  </div>
{{/view}}
